name: Publish

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths: [ manifest.json ]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: Prod
    steps:
      - uses: actions/checkout@v3
      - run: git archive -o extension.zip HEAD
      - run: |
          ACCESS_TOKEN=$(curl "https://accounts.google.com/o/oauth2/token" -d "client_id=${{ secrets.CLIENT_ID }}&client_secret=${{ secrets.CLIENT_SECRET }}&refresh_token=${{ secrets.REFRESH_TOKEN }}&grant_type=refresh_token&redirect_uri=urn:ietf:wg:oauth:2.0:oob" | jq -r .access_token) \
          curl "Authorization: Bearer $ACCESS_TOKEN" -H "x-goog-api-version: 2" -X PUT -T extension.zip "https://www.googleapis.com/upload/chromewebstore/v1.1/items/${{ vars.APP_ID }}" \
          curl "Authorization: Bearer $ACCESS_TOKEN" -H "x-goog-api-version: 2" -H "Content-Length: 0" -X POST "https://www.googleapis.com/chromewebstore/v1.1/items/${{ vars.APP_ID }}/publish"
